version: '3'
services:
  app:
    restart: always
    container_name: hkp_app
    hostname: hkp_server
    build: .
    tty: true
    ports:
      - ${APP_PORT:-80}:80
    env_file:
      - app.env
    environment:
      - APP_PORT=${APP_PORT:-80}
      - DB_PORT=${DB_PORT:-3306}
    volumes:
      - ../../api:/api
    working_dir: /api
    # command: bash -c "poetry install && /bin/bash"
    networks:
      - hkp_backend

  db:
    image: mysql:8.0
    restart: always
    container_name: hkp_db
    hostname: hkp_db
    env_file:
      - mysql/.env
    ports:
      - ${DB_PORT:-3306}:3306
    # データを永続化させる場合
    volumes:
      # 初期データを投入するSQLが格納されているdir
      - ./mysql/mysql_init:/docker-entrypoint-initdb.d
      # 永続化するときにマウントするdir
      - ./mysql/mysql_data:/var/lib/mysql
      # 設定系
      - ./mysql/conf.d:/etc/mysql/conf.d:sensitive
    # command: ['mysqld', '--lower_case_table_names=0']
    networks:
      - hkp_backend

  minio:
    image: minio/minio:RELEASE.2021-06-17T00-10-46Z
    container_name: 'hkp-minio'
    ports:
      - ${MINIO_PORT:-9090}:9000
    environment:
      - MINIO_ACCESS_KEY=minio
      - MINIO_SECRET_KEY=minio123
    entrypoint: sh
    command: |
      -c "
      mkdir -p /data/.minio.sys/buckets;
      cp -r /policies/* /data/.minio.sys/;
      cp -r /export/* /data/;
      /usr/bin/minio server /data;
      "
    volumes:
      - ./minio/data:/data
      - ./minio/export:/export
      - ./minio/config:/root/.minio
      - ./minio/policies:/policies
    networks:
      - hkp_backend

networks:
  hkp_backend:
    external: true
