DB_URL:
  local: mysql+aiomysql://as:os@house_keeper_pro_db:3306/local_db?charset=utf8mb4
  dev: mysql+aiomysql://{user}:{pass}@{host}:{ports}/{db_name}?charset=utf8mb4
  test: mysql+aiomysql://{user}:{pass}@{host}:{ports}/{db_name}?charset=utf8mb4
  prod: mysql+aiomysql://{user}:{pass}@{host}:{ports}/{db_name}?charset=utf8mb4

CHANNEL_ACCESS_TOKEN:
  default: CHANNEL_ACCESS_TOKEN
LINE_ACCESS_SECRET:
  default: LINE_ACCESS_SECRET

CSRF_SECRET_KEY:
  default: uni

DEBUG:
  local: True
  default: False

STAGE_NAME:
  default: default

HKPLinehandlerName:
  local: SRLinehandler-local
  default: SRLinehandler-default
